<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .p1{
            color:mediumvioletred;
        }
        .p2{
            color:khaki;
        }
        .p3{
            color: springgreen;
        }
        *{
            background-color:whitesmoke;
        }
    </style>
</head>
<body>
    <fieldset>
        
    <legend class="p1"><h1>LOGIN</h1></legend>
    <label class="p2" for="email">EMAIL</label>
    <input for="email" id="email" placeholder="enter your mail"/><br><br>
    <label class="p3"for="password">PASSWORD</label>
    <input type="number" id="password"  placeholder="enter the number"/><br><br>
    <input type="submit"/>
</body>
</html>